.content{
    min-height: 100vh;
    display: flex;
}

.menulateralContent{
    background-color: #141415;
    min-width: 14rem;
    height: 100vh;
}

.menulateralContent ul{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding-top: 4rem;
    align-items: center;
}

.menulateralContent li {
    display: flex;
    font-size: 15px;
    width: 14rem;
    height: 3rem;
    align-items: center;
    padding-left: 2.5rem;
}

.svg:hover, .menulateral li:hover{
    cursor: pointer;
}

.logo{
    display: flex;
    height: 9.5rem;
    justify-content: center;
    align-items: end;
}

#logoSistema{
    width: 3.3rem;
    object-fit: cover;
}

.svg{
    width: 1.2rem;
    margin-right: 2rem;
    fill: #a9a9be;
}

#logout{
    position: absolute;
    bottom: 1rem;
    left: 0;
}
