.content{
    min-height: 100vh;
    display: flex;
}

.menulateralContent{
    background-color: #141415;
    display: flex;
    flex-direction: column;
    min-width: 16rem;
    height: 100vh;
}

.menulateral{
    height: 100vh;
}

.menulateral ul{
    display: flex;
    flex-direction: column;
    row-gap: 1.8rem;
    padding-top: 3rem;
}

.menulateral li {
    display: flex;
    font-size: 15px;
    height: 3rem;
    padding-left: 3rem;
    align-items: center;
}

.svg:hover, .svg::after, .menulateral li:hover, .menulateral li::after{
    cursor: pointer;
}

.logo{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#logoSistema{
    width: 3.3rem;
    object-fit: cover;
}

.svg{
    width: 1.2rem;
    margin-right: 2rem;
    fill: #a9a9be;
}

hr{
    margin-left: 1.5rem;
}
